<h1>Welcome to ReviewEmployer.com</h1>
<p>Post anonymous reviews about your current employer!</p>
<p>Be honest, fair and working at the employer you are writing review about.</p>
<p>Allow the potential workers to get the real picture about a company.</p>
